*{
    padding: 0; /*space betn border and content*/
    margin: 0; /*space betn border and outside*/
    box-sizing:border-box;/* allows us to include the padding and border in an element's total width and height*/
}

body{
    background-color: #8e44ad; /*tag selector for background color of body*/
}
/* . is used for class selectors*/
.main{
    width: 100%;
    height: 100vh;/*vh-height is according to view */
    display: flex;
    justify-content: center;
    align-items: center;/*to take in center*/
}
/*# is used for class selectors*/
#box{
    width:40%;
    height:400px;
    box-shadow: 0px 0px 5px grey;/*used for shadow*/
    background-color: aqua;
}